<a href="https://colab.research.google.com/github/fawazdhianabil/Basic-Python-Programming-for-Data-Science/blob/main/MAthanabilAndiF_1800015042_Tugas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df

            order_id  order_date customer_id  ...     sales quantity    profit
0     CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1     CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2     CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3     US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4     US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164
...              ...         ...         ...  ...       ...      ...       ...
9983  CA-2014-110422   1/21/2014    TB-21400  ...   25.2480        3    4.1028
9984  CA-2017-121258   2/26/2017    DB-13060  ...   91.9600        2   15.6332
9985  CA-2017-121258   2/26/2017    DB-13060  ...  258.5760        2   19.3932
9986  CA-2017-121258   2/26/2017    DB-13060  ...   29.6000        4   13.3200
9987  CA-2017-119914    5/4/2017    CC-12220  ...  243.1600        2   72.9480

[9988 rows x 9 columns]

## Variabel dataset

Variabel-variabel yang terdapat pada dataset ini adalah sebagai berikut:
1. **order_id** = Nomor ID pembelian(nota)
2. **order_data** = Tanggal pembelian
3. **customer_id** = Nomor ID pembeli
4. **segment** = Segmen produk 
5. **category** = Kategori produk
6. **sub_category** = Sub kategori produk
7. **sales** = Total harga pembelian
8. **quantity** = Jumlah produk dibeli
9. **profit** = Keuntungan

#Tugas Individu


1. Tentukan Segment mana dengan profit tertinggi!  [30]
2. Tentukan Category mana dengan sales terbanyak!  [30]
3. Tentukan Sub-Category dengan quantity paling sedikit! [40]





4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!** 

Bonus Nilai 100 di Salah Satu Tugas Lainnya

# Tentukan Segment mana dengan profit tertinggi! [30]

In [ ]:
df.segment.value_counts()

Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

In [ ]:
#Memilih masing-masing segmen
df_Consumer=df[df['segment']=='Consumer']
df_Corporate=df[df['segment']=='Corporate']
df_Home_Office=df[df['segment']=='Home Office']

In [ ]:
# Tentukan Segment mana dengan profit tertinggi! [30]
a=df_Consumer.profit.sum()
b=df_Corporate.profit.sum()
c=df_Home_Office.profit.sum()
print("Profit dari Consumer adalah    :",a)
print("Profit dari Corporate adalah   :",b)
print("Profit dari Home Office adalah :",c)
print("--------------------------------")
if a>b>c:
  print("Tertinggi adalah Consumer sebanyak",a)
elif b>a>c:
  print("Tertinggi adalah Coroporate sebanyak",b)
else :
  print("Tertinggi adalah Home Office sebanyak",c)

Profit dari Consumer adalah    : 128959.22080000001
Profit dari Corporate adalah   : 83579.158
Profit dari Home Office adalah : 58189.7681
--------------------------------
Tertinggi adalah Consumer sebanyak 128959.22080000001


#Tentukan category mana dengan sales terbanyak[30]

In [ ]:
df.category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1841
Name: category, dtype: int64

In [ ]:
#Memilih masing-masing category
df_Office_Supplies=df[df['category']=='Office Supplies']
df_Furniture=df[df['category']=='Furniture']
df_Technology=df[df['category']=='Technology']

In [ ]:
#Tentukan category mana dengan sales terbanyak[30]
a=df_Office_Supplies.sales.sum()
b=df_Furniture.sales.sum()
c=df_Technology.sales.sum()
print("Sales dari Office Supplies adalah :",a)
print("Sales dari Furniture adalah       :",b)
print("Sales dari Technology adalah      :",c)
print("-----------------------------------")
if a>b>c:
  print("Tertinggi adalah Office Supplies sebanyak",a)
elif b>a>c:
  print("Tertinggi adalah Furniture sebanyak",b)
else :
  print("Tertinggi adalah Technology sebanyak",c)

Sales dari Office Supplies adalah : 719047.032
Sales dari Furniture adalah       : 741999.7953
Sales dari Technology adalah      : 755815.72
-----------------------------------
Tertinggi adalah Technology sebanyak 755815.72

#Tentukan Sub-Category dengan quantity paling sedikit! [40]

In [ ]:
df.sub_category.value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        113
Copiers          64
Name: sub_category, dtype: int64

In [ ]:
#Memilih masing-masing Sub Category
df_Binders=df[df['sub_category']=='Binders']
df_Paper=df[df['sub_category']=='Paper']
df_Furnishings=df[df['sub_category']=='Furnishings']
df_Phones=df[df['sub_category']=='Phones']
df_Storage=df[df['sub_category']=='Storage']
df_Art=df[df['sub_category']=='Art']
df_Accessories=df[df['sub_category']=='Accessories']
df_Chairs=df[df['sub_category']=='Chairs']
df_Appliances=df[df['sub_category']=='Appliances']
df_Labels=df[df['sub_category']=='Labels']
df_Tables=df[df['sub_category']=='Tables']
df_Envelopes=df[df['sub_category']=='Envelopes']
df_Bookcases=df[df['sub_category']=='Bookcases']
df_Fasteners=df[df['sub_category']=='Fasteners']
df_Supplies=df[df['sub_category']=='Supplies']
df_Machines=df[df['sub_category']=='Machines']
df_Copiers=df[df['sub_category']=='Copiers']

In [ ]:
#Tentukan Sub-Category dengan quantity paling sedikit! [40]
a=df_Binders.quantity.sum()
b=df_Paper.quantity.sum()
c=df_Furnishings.quantity.sum()
d=df_Phones.quantity.sum()
e=df_Storage.quantity.sum()
f=df_Art.quantity.sum()
g=df_Accessories.quantity.sum()
h=df_Chairs.quantity.sum()
i=df_Appliances.quantity.sum()
j=df_Labels.quantity.sum()
k=df_Tables.quantity.sum()
l=df_Envelopes.quantity.sum()
m=df_Bookcases.quantity.sum()
n=df_Fasteners.quantity.sum()
o=df_Supplies.quantity.sum()
p=df_Machines.quantity.sum()
q=df_Copiers.quantity.sum()
print("-----------------------------------")
#Karena banyak make IF, maka saya makai DICTIONARY
Sub_Category=['Binders', 'Paper','Furnishings','Phones','Storage','Art','Accessories',
           'Chairs','Appliances','Labels','Tables','Envelopes','Bookcases',
           'Fasteners','Supplies','Machines','Copiers']
Banyak=[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q]
dictsub = {'Sub Category':Sub_Category, 'Jumlah Quantitiy':Banyak}
tabel = pd.DataFrame(dictsub,index=['1','2','3','4','5','6','7','8','9','10',
                                    '11','12','13','14','15','16','17'])
print(tabel)
print("-----------------------------------")
print("                            ",[min(Banyak)])
print("-----------------------------------")
print("Jumlah Quantitiy paling sedikit adalah Copiers :", min(Banyak))

-----------------------------------
   Sub Category  Jumlah Quantitiy
1       Binders              5974
2         Paper              5178
3   Furnishings              3563
4        Phones              3289
5       Storage              3158
6           Art              3000
7   Accessories              2976
8        Chairs              2356
9    Appliances              1729
10       Labels              1400
11       Tables              1241
12    Envelopes               906
13    Bookcases               868
14    Fasteners               914
15     Supplies               647
16     Machines               429
17      Copiers               218
-----------------------------------
                             [218]
-----------------------------------
Jumlah Quantitiy paling sedikit adalah Copiers : 218

#Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!

In [ ]:
#Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!
#Membentuk DateTime index
df['order_date'] = pd.to_datetime(df['order_date'])
df = df.set_index('order_date')
#Menjumlahkan semua data dalam 1 bulan dengan frekuensi Bulan 
jumlahprofit_bulan = df.profit.resample('M').sum()
jumlahprofit_bulan

order_date
2014-01-31     2450.1907
2014-02-28      862.3084
2014-03-31     2309.8083
2014-04-30     3488.8352
2014-05-31     2738.7096
2014-06-30     4976.5244
2014-07-31     -841.4826
2014-08-31     5318.1050
2014-09-30     8328.0994
2014-10-31     3448.2573
2014-11-30     9292.1269
2014-12-31     8983.5699
2015-01-31    -3281.0070
2015-02-28     2813.8508
2015-03-31     9732.0978
2015-04-30     4187.4962
2015-05-31     4667.8690
2015-06-30     3335.5572
2015-07-31     3288.6483
2015-08-31     5355.8084
2015-09-30     8209.1627
2015-10-31     2817.3660
2015-11-30    12474.7884
2015-12-31     8016.9659
2016-01-31     2824.8233
2016-02-29     5004.5795
2016-03-31     3611.9680
2016-04-30     2977.8149
2016-05-31     8662.1464
2016-06-30     4750.3781
2016-07-31     4432.8779
2016-08-31     2062.0693
2016-09-30     9328.6576
2016-10-31     7843.1665
2016-11-30    10611.3855
2016-12-31    17885.3093
2017-01-31     7140.4391
2017-02-28     1613.8720
2017-03-31     8031.9107
2017-04-30      933.2900
2017-05-31     6342.5828
2017-06-30     8223.3357
2017-07-31     6952.6212
2017-08-31     9040.9557
2017-09-30    10991.5556
2017-10-31     5355.2867
2017-11-30     4650.1181
2017-12-31     8483.3468
Freq: M, Name: profit, dtype: float64

In [ ]:
#Cari Bulan dengan Profit Tertinggi
print(jumlahprofit_bulan[jumlahprofit_bulan==max(jumlahprofit_bulan)])

order_date
2016-12-31    17885.3093
Freq: M, Name: profit, dtype: float64

In [ ]:
print("Bulan dengan Profit Tertinggi adalah Bulan Desember Tahun 2016, dengan Sebanyak :", max(jumlahprofit_bulan))

Bulan dengan Profit Tertinggi adalah Bulan Desember Tahun 2016, dengan Sebanyak : 17885.309299999983