<a href="https://colab.research.google.com/github/fawazdhianabil/Basic-Python-Programming-for-Data-Science/blob/main/Tantangan%5BC%5D_MAthanabilAndiF_1800015042.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Muhammad Athanabil Andi Fawazdhia 1800015042**

#Mini Projek C Tantangan

##Buatlah sebuah fungsi untuk membuat suatu dataframe dengan input
1. Nilai Minimal
2. Nilai Maksimal
3. Rentang Kelas
4. Jumlah Kelas

Output dari fungsi tersebut adalah dataframe dengan kolom kolom:
Nama Kelas, Batas Bawah, Batas Atas, Nilai Tengah.

In [ ]:
import numpy as np
#Mengimpor numpy sebagai np
import pandas as pd
#Mengimpor pandas sebagai np
print("-------------------------------------")
print("Boleh juga input berupa desimal")
print("Input kelas tidak boleh desimal")
d = int(input('Masukkan Jumlah Kelas = '))
#Mendefinisikan jumlah kelas sebagai n
a = float(input('Masukkan Nilai Minimal = '))
#Mendefinisikan nilai minimal sebagai a
b = float(input('Masukkan Nilai Maksimal= '))
#Mendefinisikan nilai maksimal sebagai b
n = d-1
#Mendefinisikan n untuk membantu indeks 
c = (b-a)/n
#Mendifinisikan rumus rentang kelas
print("-------------------------------------")
print("\n Memproses. . . \n")
print("Dengan Interval Kelas", c)
def Tantangan():
#Mendefinisikan fungsi Tantangan
  btb=list(np.arange(a,b+c,step=c))
  #Membuat list dari batas baw1ah
  bta=list(np.arange(a+c,b+2*c,step=c))
  #Membuat list dari batas atas
  kls = []
  #Membuat list kosong untuk nama kelas
  for i in range(1,n+2):
  #Membuat perulangan untuk indeks
    U='U'
    #Mendefinisikan string U
    kls.append((U+str(i)))
    #Menambah string U dan indeks i kedalam list kls
  rtrt = list((np.arange(a+c,b+2*c,step=c)+np.arange(a,b+c,step=c))/2)
  #Mencari nilai rata tengah
  dict1={"Nama Kelas":kls,"Batas Bawah":btb, "Batas Atas":bta, "Nilai Tengah":rtrt}
  #Membentuk dictionary
  df = pd.DataFrame(dict1)
  #Membentuk data frame dari dictionary
  return df
  #Mengeluarkan data frame
Tantangan()
#Memanggil fungsi yang sudah dibuat

-------------------------------------
Boleh juga input berupa desimal
Input kelas tidak boleh desimal
Masukkan Jumlah Kelas = 6
Masukkan Nilai Minimal = 0.6
Masukkan Nilai Maksimal= 2.26665
-------------------------------------

 Memproses. . .

Dengan Interval Kelas 0.33332999999999996

  Nama Kelas  Batas Bawah  Batas Atas  Nilai Tengah
0         U1      0.60000     0.93333      0.766665
1         U2      0.93333     1.26666      1.099995
2         U3      1.26666     1.59999      1.433325
3         U4      1.59999     1.93332      1.766655
4         U5      1.93332     2.26665      2.099985
5         U6      2.26665     2.59998      2.433315