<a href="https://colab.research.google.com/github/fawazdhianabil/Basic-Python-Programming-for-Data-Science/blob/main/Variabel_dan_Tipe_Data_Pada_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1oZeOBAOozxedBi-jq-LzN8BQd0NB7Ocy
)

##  **Input & Output pada Pyhton**

Kita akan memulai dengan mencoba mengenal dan memahami proses input dan output pada bahasa pemrograman python. Sebuah Program terdiri dari Input, Proses dan Output

**Membuat input dengan fungsi input()**

format input() :
input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :

* input() : nilai berupa string

* str(input()) : nilai berupa string

* int(input()) : nilai berupa integer

* float(input()) : nilai berupa float

* bool(input()) : nilai berupa boolean

**Untuk menampilkan Output dengan fungsi print()**

format print() :
print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

In [ ]:
# Mas Nabil nyoba input bertipe data string (str)
nama = input("Nama : ")
umur = input("Umur : ")
alamat = input("Alamat : ")
pekerjaan = input("Pekerjaan : ")
universitas = input("Universitas : ")
status = input("Status : ")
mediasosial = input("Instagram : ")

Nama : Mas Nabil
Umur : 20
Alamat : Bintan, Kepulauan Riau
Pekerjaan : Mahasiswa
Universitas : Universitas Ahmad Dahlan
Status : Single
Instagram : fawazdhia_

In [ ]:
print(nama)
print(umur)
print(alamat)
print(pekerjaan)
print(universitas)
print(status)
print(mediasosial)
type(nama)
type(umur)
type(alamat)
type(pekerjaan)
type(status)
type(mediasosial)

Mas Nabil
20
Bintan, Kepulauan Riau
Mahasiswa
Universitas Ahmad Dahlan
Single
fawazdhia_

str

Mas Nabil Mencoba

In [ ]:
markicob = (int(input())*float(input()))/int(input())
print(markicob)

5
5.5
2
13.75

Mas Nabil Mencoba (2)

In [ ]:
print("Saya Biasa dipanggil"+" "+ nama +", "+ "Seorang"+" "+ pekerjaan +" "+ "di" +" "+ universitas +" "+ "dengan Umur"+" "+umur+"Tahun"+" "+"dan Tinggal di"+" "+ alamat)

Saya Biasa dipanggil Mas Nabil, Seorang Mahasiswa di Universitas Ahmad Dahlan dengan Umur 20 Tahun dan Tinggal di Bintan, Kepulauan Riau

**Menampilkan Output cara kedua**

Menggunakan fungsi format()

In [ ]:
txt1 = "Nama saya {nama}, Saya berumur {umur}".format(nama = "Dahlan", umur = 18)
txt1

'Nama saya Dahlan, Saya berumur 18'

In [ ]:
txt2 = "Nama saya {0}, Saya berumur {1}".format("Dahlan",18)
txt2

'Nama saya Dahlan, Saya berumur 18'

In [ ]:
txt3 = "Nama saya {}, Saya berumur {}".format("Dahlan",18)
txt3

'Nama saya Dahlan, Saya berumur 18'

Mas Nabil Mencoba lagi

In [ ]:
bertanya = "Mas Nabil : Saya biasa dipanggil {}, Nama kamu siapa? Asalnya darimana?".format("Nabil")
dijawab = "Mba Nabila : Nama Saya {0}, Asal saya dari {1}".format("Nabila","Malaysia")
print(bertanya) 
print(dijawab)

Mas Nabil : Saya biasa dipanggil Nabil, Nama kamu siapa? Asalnya darimana?
Mba Nabila : Nama Saya Nabila, Asal saya dari Malaysia

**Menampilkan Output cara ketiga**

Menggunakan simbol %

* %c : mencetak karakter

* %s : mencetak data menjadi string

* %i, %d : mencetak angka desimal bertanda
* %u : mencetak angka desimal tak bertanda
* %x, %X : mencetak angka heksa dengan huruf kecil %x atau besar %X
* %f : mencetak angka real berkoma
* %e, %E : mencetak tanda eksponensial dengan huruf kecil %e atau besar %E
* %g, %G : fungsi hampir sama dengan %f dan %e hanya saja pencetakan angak di belakang koma lebih pendek

In [ ]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

Bang Nabil Mencoba

In [ ]:
print("Saya biasa dipanggil %s oleh teman teman saya dan umur saya %s tahun" %(nama, umur))
print("Saya adalah %s di %s dan saya adalah angkatan 2018" %(pekerjaan, universitas))
print("Akun media sosial saya adalah Instagram dengan username %s" %(mediasosial))

Saya biasa dipanggil Mas Nabil oleh teman teman saya dan umur saya 20  tahun
Saya adalah Mahasiswa di Universitas Ahmad Dahlan dan saya adalah angkatan 2018
Akun media sosial saya adalah Instagram dengan username fawazdhia_

## **Variabel, Tipe Data, Dan Konversinya**

Selanjutnya kita akan mengenal variabel dan tipe data pada python. Ini merupakan dasar yang harus dipahami di awal sebelum melanjutkan ke materi berikutnya. Pertama kita akan memahami bagaimana sebuah variabel dituliskan dalam python.

### Variabel

*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**Membuat sebuah variabel dengan berbagai tipe data Python**

Variabel Baru Nabil

In [ ]:
varN1 = 'Assalamualaikum Hoax World'
varN2 =  5678
varN3 =  0.01
varN4 =  True
varN5 =  5j+1j+10+2

**Memanggil variabel dan menampilkan**

Kamu dapat memanggil variabel hanya dengan menuliskan variabel yang sudah kamu buat di atas dan menjalankan cellnya

Mas Nabil Mencobaa

In [ ]:
varN1,(varN5, varN2)

('Assalamualaikum Hoax World', ((12+6j), 5678))

Selain itu, kamu juga bisa mencetak, atau menampilkan variabel yang sudah kamu buat dengan cara memasukkan syntak **print(*variable*)**. Contohnya sebagai berikut:

In [ ]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Assalamualaikum Dunia!
1234567890
0.123456789
False
(1+1j)

Ini dia tampilan Variabel Nabil

In [ ]:
#Mari Kita Coba

print(varN1) #String

print(varN2) #Int

print(varN3) #Float

print(varN4) #Boolean

print(varN5) #Complex

Assalamualaikum Hoax World
5678
0.01
True
(12+6j)

Note: Tanda Pagar (#) berfungsi sebagai komentar, tidak dijalankan sebagai perintah pemrograman

### Tipe Data

Tipe data adalah kumpulan tipe yang dapat kamu temukan di semua data. Dengan memahami tipe data, kamu dapat menentukan nilai data yang dimiliki dari data tersebut.


**Mengenal Beberapa Tipe Data Pada Python:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)

**Melihat Tipe Data dari Suatu Variabel**

Kamu bisa melihat tipe variabel yang sudah kamu buat,apakah tipe data kamu adalah int, float, boolean, string, dll menggunakan fungsi **type(*variabel*)**, sebagai berikut:

In [ ]:
type(var1)

str

Mas Nabil mengecek Tipe Variabel

In [ ]:
#Mengecek tipe variabel Nabil
print(varN1, 'Tipe datanya adalah', type(varN1)) #String

print(varN2, 'Tipe datanya adalah', type(varN2)) #Int

print(varN3, 'Tipe datanya adalah', type(varN3)) #Float

print(varN4, 'Tipe datanya adalah', type(varN4)) #Boolean

print(varN5, 'Tipe datanya adalah', type(varN5)) #Complex

Assalamualaikum Hoax World Tipe datanya adalah <class 'str'>
5678 Tipe datanya adalah <class 'int'>
0.01 Tipe datanya adalah <class 'float'>
True Tipe datanya adalah <class 'bool'>
(12+6j) Tipe datanya adalah <class 'complex'>

### Konversi Tipe Data

Capek gag sih, bikin data baru mulu untuk sebuah tipe data yang berbeda. Kalo capek ya udah, rehat dulu. Nah ada cara lain sih, yaitu dengan mengubah tipe data yang udah kita miliki menjadi tipe data yang kita inginkan. Kadang gag harus ganti kan, cukup komit untuk merubah hal-hal yang sudah ada sesuai keinginan kita. OK Lanjuut.

Intinya mah misal kita punya variabel tipenya int tapi kita butuh variabel itu jadi float ya kita bisa konversi, gimana caranya?

Pake fungsi donk, fungsinya macem-macem, tapi intinya adalah fungsinya bernama tipe data baru yang ingin kita buat kemudian inputnya adalah tipe data yang mau kita ubah. Begono.

Bingung?
Ini lho macam-macam fungsinya:

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

Contohnya ini ya:

In [ ]:
number = 10
print("data =", number, ", type =", type(number))

data = 10 , type = <class 'int'>

Mas Nabil nyoba konversi

In [ ]:
#Mari Kita Coba 
datatunggal = 7
datatunggal2 = 2020
print("Data = ",datatunggal,", type nya adalah ", type(datatunggal))
print("Data = ",datatunggal2,", type nya adalah ", type(datatunggal2))


float_ = float(datatunggal)
boolean_ = bool(datatunggal)
biner_ = bin(datatunggal2)


print("Kita coba Liat tipe konversi :")
print("Kalau",float_,"berarti tipenya", type(float_))
print("Kalau",boolean_,"berarti tipenya", type(boolean_))
print("Kalau",biner_,"berarti tipenya", type(biner_))

Data =  7 , type nya adalah  <class 'int'>
Data =  2020 , type nya adalah  <class 'int'>
Kita coba Liat tipe konversi :
Kalau 7.0 berarti tipenya <class 'float'>
Kalau True berarti tipenya <class 'bool'>
Kalau 0b11111100100 berarti tipenya <class 'str'>

## **Berbagai Struktur Data di Python**

### **List**

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

*Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.*

In [ ]:
a = [1, 2.2, 'python']
a

[1, 2.2, 'python']

Ini dia versi Nabil

In [ ]:
cobadulu = [5, 69, 4.6, 5*5, (16/2), 'itu adalah angka random']
cobadulu

[5, 69, 4.6, 25, 8.0, 'itu adalah angka random']

Python mengenal slicing operator [ ] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

* x[0] artinya mengambil elemen paling awal, dengan  index 0 dari List x.

* x[5] artinya mengambil elemen dengan index 5 dari List x.

* x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

* x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

* x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

* x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

* x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [ ]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

Gaspooool Sliching

In [ ]:
hmm = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print(hmm[1])
print(hmm[-9])
print(hmm[:5]+hmm[-5:])
print(hmm[5:9:3],hmm[2:4:2])
print(hmm[5:9:3]+hmm[2:4:2])

2
7
[1, 2, 3, 4, 5, 11, 12, 13, 14, 15]
[6, 9] [3]
[6, 9, 3]

Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:

Saatnya Nabil mencoba

In [ ]:
#Kita coba ganti Elemen
nbl = [5, 6, 2.5]
nbl[0] = 3
nbl[1] = nbl[0] + 1
print(nbl)

#Yang ini nambah elemen sama diganti
nbl.append(10)
nbl[3]= nbl[3]+2
print(nbl)

[3, 4, 2.5]
[3, 4, 2.5, 12]

Untuk menghapus item pada list, gunakan fungsi del. *Ingat bahwa Indeks Python dimulai dari 0*:

Let's Goooo

In [ ]:
bintang =['Vega','Polaris', 'Sirius', 'Deneb']
del bintang[2]
print(bintang)

['Vega', 'Polaris', 'Deneb']

Coba tambahkan kembali:

Baik

In [ ]:
bintang =['Vega','Polaris', 'Sirius', 'Deneb']
del bintang[2]
print(bintang)
del bintang[2]
print(bintang)

['Vega', 'Polaris', 'Deneb']
['Vega', 'Polaris']

Slicing pada String

Karena string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring. Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [ ]:
s = "Assalamualaikum Dunia!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

In [ ]:
s[5]="d"        #ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable

Markicob

In [ ]:
b = "Assalamualaikum Ukhti"
print(b[16:21])
b = "Kenalan yuk Ukhti"
print(b)

Ukhti
Kenalan yuk Ukhti

### **Tuple**

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
t = (5,'program', 1+3j)
t

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [ ]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])

In [ ]:
print(t[0]=10) #Kok gagal, kenapa hayoooooo

#jawaban Nabil : karena tuple tidak bisa diubah elementnya

SyntaxError: ignored

In [ ]:
tuplee = ('tes manggil variabel yang udah ada', varN5, umur, bintang)#tuple bikinan sendiri
print (tuplee)
print(tuplee[1:4])

('tes manggil variabel yang udah ada', (12+6j), '20 ', ['Vega', 'Polaris'])
((12+6j), '20 ', ['Vega', 'Polaris'])

### **Set**

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [ ]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [ ]:
a = {1,2,3}
print(a[1])

TypeError: ignored

### **Dictionary**

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

1. Setiap elemen pair key-value dipisahkan dengan koma (,).
2. Key dan Value dipisahkan dengan titik dua (:).
3. Key dan Value dapat berupa tipe variabel/obyek apapun.

In [ ]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
# Nyobain error
print("d[2] = ", d[2]);

KeyError: ignored

In [ ]:
#markicob sendiri
dc = {20:'nilai','kunci':30}
print(type(dc))
print("dc[20] adalah ", dc[20]);
print("dc['kunci'] adalah", dc['kunci'])

<class 'dict'>
dc[20] adalah  nilai
dc['kunci'] adalah 30

### **Konversi Struktur Data**

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

Contoh:

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 2, 3, 4, 5] ,type = <class 'list'>

In [ ]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

Nah sampai sini, coba kamu tulis pemahaman kamu tentang List, Tuple, Set, dan Dictionary, tulis pake bahasa kamu sendiri ya:

Jadi yang saya dapat tentang Tuple, Set & Dictionary adalah sebagai berikut :

- Tuple : Merupakan bagian dari List, ***akan tetapi*** elemen pada Tuple sama sekali tidak bisa diubah baik itu diganti ataupun dihapus(del). Sehingga bisa dibilang tuple ***cocok*** untuk data sekali tulis dan untuk menulis data dalam tuple maka cukup diawali dengan kurung biasa dan di pisah oleh "," dan ditutup oleh kurung biasa pula.

- Set : Kumpulan data atau item yang tidak beurutan atau random, nah yang unik dari Set adalah kita bisa melakukan Union dan Intersection dan yang paling enak dari Set adalah adanya *penghapusan data kembar atau duplikat* akan tetapi *kita tidak bisa melakukan slicing* terhadap Set.

- Dictionary : Adalah pasangan kunci dan nilai yang dapat menyimpan data besar dan kecil, untuk menggunakannya memerlukan {} dan nah untuk memanggilnya membutuhkan "kunci" yang ada pada dictionary dan tidak bisa menggunakan indeks pada dictionary.



Alhamdulillah Selesai